train/wandb
train/logs
deployment/model_weights
__pycache__/
*.pyc
dataset
lerobot
map_cache
train/vint_train/data/sampler
train/config/LogoNav_.yaml
download_youtube/videos
deployment/model_weights
lerobot
